html, h1, h2, h3, div, span, applet, object, iframe, blockquote, pre,
a, p, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	vertical-align: baseline;
}




@font-face {
    font-family: "steelfish";
    src: url(font/steelfish.otf);
}


html, body {
   	margin:0;
   	padding:0;
    background-color: #000;
    background-image:url(images/woodgrey-light.png);
    background-repeat: no-repeat; 
}


#wrapper{
	position: relative;
	overflow: auto;
	width:960px;
	margin: 0 auto;
	height:auto !important;
	min-height: 600px;
	padding-bottom: 100px;
    /*background-color: #fff;*/
   
}


#logo{
	margin-left:14px;
	margin-bottom:19px;	
	float:left;
}

#left_column{
	float:left;
	width:236px;
	margin-left:18px;
	clear:left;
	
}

#news-holder{
	padding:15px;
	padding-top:0px;
	background-color:#fff; 
	border:solid 1px #c7c7c7;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

#news h1{
	padding: 12px 0px;
	font-family: steelfish;
	font-size: 26px;
	font-weight: normal;
	color:#373737;
}


#newsbox h1, h2, 
#main-feed h1 {
	font-family: steelfish;
	font-weight: normal;
}
#newsbox #main-feed h3, h2, p {
	font-family: times;
}


#newsbox{
	padding-bottom: 38px;
	border-top: 1px solid #c7c7c7;
}

#newsbox h1{
	color:#373737;
	font-size:24px;
	margin-bottom: 2px;
	margin-top: 15px;
}

#newsbox h2{
	color:#6c8cbe;
	font-size:12px;
	padding:0px;
	margin:0;
}

#newsbox h3{
	color:#919191;
	font-size:10px;
	padding:0;
	padding-top:10px;
	margin:0;
}

#newsbox img {
	padding-top: 20px;
}

#newsbox p{
	color:#242424;
	font-size: 12px;
	margin-top: 10px;
	text-align: justify;

}

#main-feed{
	padding: 30px;
	margin: 0px 0px 38px 0px;
	border:solid 1px #c7c7c7;
	background-color: #fff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

#main-feed h1{
	color:#373737;
	font-size:44px;
	padding:0px;
}

#main-feed h2{
	color:#9a9994;
	font-size:16px;
	padding:0px;
	margin:0;
}

#main-feed h3{
	color:#566b6d;
	font-size:14px;
	padding: 5px 0px 38px 0px;
	margin-bottom: 38px;
	border-bottom: solid 1px #c7c7c7;
}

#main-feed p{
	color:#242424;
	font-size: 14px;
	text-align: justify;
	line-height: 21px;
}


.image-box{
	float:right;
	margin: 0px 0px 10px 22px;
	/*border:solid 1px #fff;*/
	/*padding:10px;*/
}




#right_column{
	margin:0px;
	margin-left:18px;
	width:670px;
	float:left;

}

#top_navigation{
	width:960px;
	padding-top:36px;
}

#one, #two {
	width:329px;
	height:50px;
	margin-top:130px;
	/*background-color: #fff;*/
	/*border-top:2px solid #c7c7c7;
	border-bottom:2px solid #c7c7c7;*/
}

.scratch {
	width:329px;
	border-top:1px solid #c8c8c8;
	border-bottom:1px solid #fff;
	float:left;
}

#one {
	float:left;
	margin-left:18px;
}

#two {
	float:right;
	margin-right:18px;
}

#top_navigation li{
	list-style-type: none;
	float:left;
	height:50px;
}


#top_navigation li a{	
	text-decoration: none;
	font-weight: lighter;
	display: block;
	height:50px;
	line-height: 50px;
	color:#373737;
	font-family: steelfish;
	font-size: 26px;
}

#one a {
	margin-left:50px;
}


#two a {
	margin-left:50px;
}

#top_navigation a:hover{
	color:#608595;
	/*-webkit-transition: all 0.3s ease-in;  /* Saf3.2+, Chrome */
      /*         -moz-transition: all 0.2s ease-in;  /* FF4+ */
        /*       -ms-transition: all 0.2s ease-in;  /* IE10? */
          /*     -o-transition: all 0.2s ease-in;  /* Opera 10.5+ */
            /*   transition: all 0.2s ease-in;*/
}


#social-box{
	height:154px;
	width:100%;
	margin-bottom: 40px;
}


#footer {
	position:absolute;
	bottom:0;
   	clear:both;
   	height:60px;   /* Height of the footer */
	background-repeat: no-repeat;	
	padding:0px 0px 0px 10px;
}



#footer ul{
	width:100%;
	height:40px;

}

#footer li {
		float:left;
		list-style-type: none;
		height:40px;
}

#footer a{
		text-decoration: none;
		color:#3c4154;
		font-size: 14px;
		font-family: helvetica;
		display: block;
		padding:0px 10px 0px 10px;
		margin-left: 10px;
		line-height: 40px;
		height:40px;
}

#footer a:hover{
	background-color: #2d3235;
	color:#fff;
	           
}

#footer span{
	position:relative;
	color:#373737;
	font-family: helvetica;
	font-size: 12px;
	line-height: 40px;
	left:110px;
}


label{
	float:left;
	clear:left;
	color: #373737;
	font-size: 16px;
	padding-top: 20px;
}

input[type='text'], [type="password"], textarea {
	background-color: #c7c7c7;
	border: none;	
	height:30px;
	width:100%;
	color:#a07c7b;
	font-size: 16px;
	padding:10px;
	margin: 10px 0px 10px 0px;
	outline: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

input{
	float: left;
	clear: left;
}

textarea {
	height:400px;
}

input[type="submit"]{
	display: block;
	width:180px;
	height:50px;
	text-transform: uppercase;
	font-size: 26px;
	margin:0;
	padding:0;
	border: none;
	background:url(images/submit-back.png);
	background-repeat: repeat;
	float:right;
	color:#fff;
	margin-top: 60px;
	margin-right: 60px;
}
input[type="submit"]:hover{
	background-color: #61c676;
	color:#000;
}

.clear{
	text-decoration: none;
	color:#fff;
	text-align: center;
	font-family: arial;
	line-height: 50px;
	display: block;
	width:180px;
	height:50px;
	text-transform: uppercase;
	font-size: 26px;
	margin:0;
	padding:0;
	border: none;
	background-image:url(images/redback.png);
	background-repeat: repeat;
	float:left;
	margin-top: 60px;
	margin-left: 60px;


}

.clear:hover{
	background-color:#c76462;
	cursor: default;
	color:#000;
}


/*default*/
h1{
	color:#bdbef1;
}

.warning{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 38px;
	color:#0a2b09;

}

/*default*/
h2, h3 {
	color:#fff;

}

a {
	color:#6c8cbe;
}

a:hover{
	color:#33425a;
}


/*************/
/*LOGIN STYLE*/
/*************/

#loginArea {
	width:400px;
	margin: 0 auto;
	height:100%;
}

#loginRegLink {
	width:100px;
	float:right;
}

#loginArea input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	text-indent:0;
	border:1px solid #dcdcdc;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin:0;
	margin-top: 20px;
	display: block;

	/*BORDER SHIT*/
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
}
#loginArea input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
